* {
    padding: 0;
    margin: 0;
}

section {
    min-height: 100vh;
}

.header {
    padding-top: 44px;
    background: url(/png/bg.png) center center no-repeat;
}

.menu{
    display: flex;
    justify-content: center;
}

.menu a {
    margin-right: 100px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2.8px;
}

.menu a:last-child{
    margin-right: 0px;
}

.header-text{
    text-align: center;
    margin-top: 250px;
}

.header-text h1{
    color: #ffffff;
    font-size: 100px;
    font-weight: 700;
}

.header-text p{
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 4.2px;
    }

.header-text button {
    cursor: pointer;
    margin-top: 22px;
    padding: 20px 80px;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2.52px;
    transition: ease-in .25s all;
    }

.header button:hover {
    background-color: #ffffff;
    color: black;
    border-color:#000000;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.about-text span {
    color: #c4c4c4;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 3.08px;
}

.about-text h2{
    margin-top: 32px;
    margin-bottom: 50px;
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4.2px;
}

.about-text p{
    margin-bottom: 54px;
    color: #5b5b5c;
    font-size: 22px;
    letter-spacing: 3.08px;
}

.about-text button {
    cursor: pointer;
    margin-top: 22px;
    padding: 20px 80px;
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2.52px;
    transition: ease-in .25s all;
}

.about-text button:hover {
    background-color: #000;
    color:  #ffffff;
}

.photos {
    margin-top: 100px;
    text-align: center;
}

.photos-text h2 {
    color: #000000;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7.2px;
}

.photos-text p {
    margin-top: 36px;
    color: #5b5b5c;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 4.2px;
}

.photos-wrap {
    margin-top: 90px;
}

.photos-wrap img{
    margin: 10px;
}

.company-text h2 {
    margin-top: 250px;
    margin-bottom: 36px;
    text-align: center;
    color: #000000;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7.2px;
}

.company-text p{
    margin-bottom: 65px;
    color: #5b5b5c;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4.2px;
}

.company-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.company-block_1 {
    margin-right: 34px;
}

.company-wrap h3{
    margin-top: 50px;
    margin-bottom: 40px;
    color: #000000;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.company-wrap p{
    margin-bottom: 65px;
    color: #848484;
    font-size: 19px;
    letter-spacing: 3.8px;
}

.company-wrap button {
    border: none;
    cursor: pointer;
    width: 221px;
    height: 58px;
    background-color: #dddcdc;
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    transition: ease-in .25s all;
}

.company-wrap button:hover {
    background-color: #000;
    color:  #ffffff;
}

.company-wrap {
    margin-bottom: 150px;
}

.send {
    padding: 50px 0px;
    background-color: #f4f4f4;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.send-text {
    margin-right: 111px;
}

.send-text h2 {
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4.2px;
}

.send-text p{
    margin-top: 10px;
    color: #5b5b5c;
    font-size: 18px;
    letter-spacing: 2.52px;
}

input {
    margin-right: 50px;
    background: transparent;
    border: 2px solid #7a7a7a;
    padding: 27px 32px;
    color: #3a4047;
    font-size: 22px;
    letter-spacing: 3.08px;
}

.send button {
    border: none;
    cursor: pointer;
    padding: 25PX 86PX;
    background-color: #3a4047;
    color: #ffffff;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3.08px;
}

.send button:hover {
    background-color: rgb(255, 255, 255);
    color:  #000;
    border: 2px solid;
    border-color:#000000;
    transition: ease-in .25s all;
}

.footer {
    text-align: center;
    padding: 95px 0;
    color: #000000;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 6.12px;
}

.footer-menu {
    margin-bottom: 65px;  
}

.footer-menu a {
    margin-right: 55px;
    text-decoration: none;
    font-size: 22px;
    color: #000000;
}

.footer-menu a:last-child {
    margin-right: 0;
}

.footer-text {
    margin-bottom: 20px;
}